h1 {
    font-size:40px;
    background-color:#f3fbff;
}

li {
  list-style: none;
}

input,textarea {
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}


.contact-submit {
  background-color:#dee7ec;
  color:#889eab;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

input[type="submit"], input[type="reset"], input[type="button"], button{
  cursor: pointer;
}

input::placeholder{
   color:#f0f0f0
